@model BYU_FEG.Models.ViewModel.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Byufeg</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BurialDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BurialDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SouthToHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SouthToHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SouthToFeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SouthToFeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.EastToHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.EastToHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.EastToFeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.EastToFeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BurialSituation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BurialSituation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.LengthOfRemains)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.LengthOfRemains)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BurialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BurialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SampleNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SampleNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.GenderGe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.GenderGe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.GeFunctionTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.GeFunctionTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.GenderBodyCol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.GenderBodyCol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BasilarSuture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BasilarSuture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.VentralArc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.VentralArc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SubpubicAngle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SubpubicAngle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SciaticNotch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SciaticNotch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PubicBone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PubicBone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PreaurSulcus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PreaurSulcus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MedialIpRamus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MedialIpRamus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.DorsalPitting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.DorsalPitting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ForemanMagnum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ForemanMagnum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.FemurHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.FemurHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.HumerusHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.HumerusHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Osteophytosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Osteophytosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PubicSymphysis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PubicSymphysis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BoneLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BoneLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MedialClavicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MedialClavicle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.IliacCrest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.IliacCrest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.FemurDiameter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.FemurDiameter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Humerus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Humerus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.FemurLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.FemurLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.HumerusLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.HumerusLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.TibiaLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.TibiaLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Robust)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Robust)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SupraorbitalRidges)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SupraorbitalRidges)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.OrbitEdge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.OrbitEdge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ParietalBossing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ParietalBossing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Gonian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Gonian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.NuchalCrest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.NuchalCrest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ZygomaticCrest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ZygomaticCrest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.CranialSuture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.CranialSuture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MaximumCranialLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MaximumCranialLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MaximumCranialBreadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MaximumCranialBreadth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BasionBregmaHeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BasionBregmaHeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BasionNasion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BasionNasion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BasionProsthionLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BasionProsthionLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BizygomaticDiameter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BizygomaticDiameter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.NasionProsthion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.NasionProsthion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MaximumNasalBreadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MaximumNasalBreadth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.InterorbitalBreadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.InterorbitalBreadth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ArtifactsDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ArtifactsDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.HairColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.HairColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PreservationIndex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PreservationIndex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.HairTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.HairTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SoftTissueTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SoftTissueTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BoneTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BoneTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ToothTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ToothTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.TextileTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.TextileTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.DescriptionOfTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.DescriptionOfTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ArtifactFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ArtifactFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.EstimateAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.EstimateAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.EstimateLivingStature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.EstimateLivingStature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ToothAttrition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ToothAttrition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ToothEruption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ToothEruption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PathologyAnomalies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PathologyAnomalies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.EpiphysealUnion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.EpiphysealUnion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.HeadDirection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.HeadDirection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.DateFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.DateFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Rack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Rack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Shelf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Shelf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SkullTrauma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SkullTrauma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PostcraniaTrauma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PostcraniaTrauma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.CribraOrbitala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.CribraOrbitala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PoroticHyperostosisLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PoroticHyperostosisLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MetopicSuture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MetopicSuture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ButtonOsteoma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ButtonOsteoma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PostcraniaTrauma1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PostcraniaTrauma1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.OsteologyUnknownComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.OsteologyUnknownComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.TemporalMandibularJointOsteoarthritisTmjOa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.TemporalMandibularJointOsteoarthritisTmjOa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.LinearHypoplasiaEnamel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.LinearHypoplasiaEnamel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.burial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.burial.BurialId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.burial.BurialConcat)
        </dt>
    </dl>
    <br />
    @foreach (var x in Model.attachment)
    {
        <img src="@x.AttachmentUrl" height="100px" />
        <p>@x.Category</p>
        <p>@x.Description</p>
    }
    @if (User.IsInRole("User"))
    {
        <form asp-action="FileUploadForm" method="get">
            <input type="hidden" name="byufegId" value="@Model.byufeg.ByufegId" />
            <button type="submit" class="btn btn-primary">Click to Add File</button>
        </form>
    }
    </div>
 
<div>
    <!--Button to update data, passes Byufegid through hidden field-->
    @if (User.IsInRole("User"))
    {
        <form asp-action="ByufegUpdate" method="post">
            <input type="hidden" name="ByufegId" value="@Model.byufeg.ByufegId" />
            <button class="btn-dark btn-sm pull-right text-light" type="submit">Update</button>
        </form>
    }
        <!--Button to delete quote, passes quoteId through hidden field-->
        @if (User.IsInRole("Admin"))
        {
            <form asp-action="ByufegDelete" method="post">
                <input type="hidden" name="ByufegId" value="@Model.byufeg.ByufegId" />
                <button class="btn-dark btn-sm pull-right text-light" type="submit">Delete</button>
            </form>
         }
        <form asp-action="Data" method="post">
            <button class="btn-dark btn-sm pull-right text-light" type="submit">Back to List</button>
        </form>
    </div>
