@model BYU_FEG.Models.ViewModel.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Byufeg</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BurialDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BurialDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SouthToHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SouthToHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SouthToFeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SouthToFeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.EastToHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.EastToHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.EastToFeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.EastToFeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BurialSituation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BurialSituation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.LengthOfRemains)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.LengthOfRemains)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BurialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BurialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SampleNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SampleNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.GenderGe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.GenderGe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.GeFunctionTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.GeFunctionTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.GenderBodyCol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.GenderBodyCol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BasilarSuture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BasilarSuture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.VentralArc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.VentralArc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SubpubicAngle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SubpubicAngle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SciaticNotch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SciaticNotch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PubicBone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PubicBone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PreaurSulcus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PreaurSulcus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MedialIpRamus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MedialIpRamus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.DorsalPitting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.DorsalPitting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ForemanMagnum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ForemanMagnum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.FemurHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.FemurHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.HumerusHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.HumerusHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Osteophytosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Osteophytosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.PubicSymphysis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.PubicSymphysis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.BoneLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.BoneLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MedialClavicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MedialClavicle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.IliacCrest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.IliacCrest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.FemurDiameter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.FemurDiameter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Humerus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Humerus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.FemurLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.FemurLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.HumerusLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.HumerusLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.TibiaLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.TibiaLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Robust)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Robust)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.SupraorbitalRidges)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.SupraorbitalRidges)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.OrbitEdge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.OrbitEdge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ParietalBossing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ParietalBossing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.Gonian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.Gonian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.NuchalCrest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.NuchalCrest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.ZygomaticCrest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.ZygomaticCrest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.CranialSuture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.CranialSuture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.byufeg.MaximumCranialLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.byufeg.MaximumCranialLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.burial.BurialConcat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.burial.BurialConcat)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaximumCranialBreadth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionBregmaHeight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionBregmaHeight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionNasion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionNasion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionProsthionLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionProsthionLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BizygomaticDiameter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BizygomaticDiameter)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NasionProsthion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NasionProsthion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaximumNasalBreadth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InterorbitalBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InterorbitalBreadth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArtifactsDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ArtifactsDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HairColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HairColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PreservationIndex)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PreservationIndex)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HairTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HairTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SoftTissueTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SoftTissueTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BoneTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BoneTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToothTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToothTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TextileTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TextileTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DescriptionOfTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DescriptionOfTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArtifactFound)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ArtifactFound)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstimateAge)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstimateAge)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstimateLivingStature)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstimateLivingStature)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToothAttrition)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToothAttrition)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToothEruption)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToothEruption)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PathologyAnomalies)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PathologyAnomalies)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EpiphysealUnion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EpiphysealUnion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HeadDirection)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeadDirection)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateFound)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateFound)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rack)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rack)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Shelf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Shelf)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SkullTrauma)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SkullTrauma)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostcraniaTrauma)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostcraniaTrauma)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CribraOrbitala)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CribraOrbitala)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PoroticHyperostosisLocation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PoroticHyperostosisLocation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MetopicSuture)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MetopicSuture)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ButtonOsteoma)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ButtonOsteoma)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostcraniaTrauma1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostcraniaTrauma1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OsteologyUnknownComment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OsteologyUnknownComment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TemporalMandibularJointOsteoarthritisTmjOa)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TemporalMandibularJointOsteoarthritisTmjOa)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LinearHypoplasiaEnamel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LinearHypoplasiaEnamel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Burial)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Burial.BurialId)
            </dd>*@
    </dl>
    <br />
    @foreach (var x in Model.attachment)
    {
        <img src="@x.AttachmentUrl" height="100px" /><br /><br />
    }


    <form asp-action="FileUploadForm" method="get">
        <input type="hidden" name="byufegId" value="@Model.byufeg.ByufegId" />
        <button type="submit" class="btn btn-primary">Click to Add File</button>
    </form>
</div>
<div>
    <!--Button to update data, passes Byufegid through hidden field-->
    <form asp-action="ByufegUpdate" method="post">
        <input type="hidden" name="ByufegId" value="@Model.byufeg.ByufegId" />
        <button class="btn-dark btn-sm pull-right text-light" type="submit">Update</button>
    </form>
    <!--Button to delete quote, passes quoteId through hidden field-->
    <form asp-action="ByufegDelete" method="post">
        <input type="hidden" name="ByufegId" value="@Model.byufeg.ByufegId" />
        <button class="btn-dark btn-sm pull-right text-light" type="submit">Delete</button>
    </form>|

    <button asp-action="Data"class="btn-dark btn-sm pull-right text-light" type="submit">Back to List</button>
</div>
