@{
    ViewData["Title"] = "Burial Data";
}

@model ResultListViewModel

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div id="sidebar" class="col-2">
            <partial name="ByufegFilter" model="ViewBag.Filter" />
        </div>
        
        <br />

        <div class="col-10 border-left border-secondary">
            <table class="table">
                <thead>
                    <tr>
                        <th class="align-top" scope="col">Mummy ID</th>
                        <th class="align-top" scope="col">Burial Location</th>
                        <th class="align-top" scope="col">Burial Depth</th>
                        <th class="align-top" scope="col">Burial Situation</th>
                        <th class="align-top" scope="col">Length of Remains</th>
                        <th class="align-top" scope="col">Gender</th>
                        <th class="align-top" scope="col">Hair Color</th>
                        <th class="align-top" scope="col">Sample Taken?</th>
                        <th class="align-top" scope="col">Artifact Found?</th>
                        <th class="align-top" scope="col">Head Direction</th>
                        <th class="align-top" scope="col">Age</th>
                        <th class="align-top" scope="col">Living Height</th>
                        <th class="align-top" scope="col">Date Found</th>
                        <th class="align-top" scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    

                        @foreach (var x in Model.bodies)
                        {
                            <tr>
                                <th scope="row">@x.ByufegId</th>

                                <td>@if (x.BurialId != null) {@x.Burial.BurialConcat} </td>
                                <td>@x.BurialDepth </td>
                                <td>@x.BurialSituation </td>
                                <td>@x.LengthOfRemains</td>
                                <td>@x.GenderBodyCol</td>
                                <td>@x.HairColor</td>
                                <td>@(x.HairTaken == "True" || x.ToothTaken == "True" || x.BoneTaken == "True" || x.TextileTaken == "True" || x.SoftTissueTaken == "True" ? "Yes" : "No") </td>
                                <td>@(x.ArtifactFound == "True" ? "Yes" : "No") </td>
                                <td>@x.HeadDirection</td>
                                <td>@x.EstimateAge</td>
                                <td>@x.EstimateLivingStature </td>
                                <td>@x.DateFound</td>
                                <td></td>
                                <td>
                                    <!--Button to see details of an item, passes ByufegId through hidden field-->
                                    <form asp-action="ByufegDetails" method="post">
                                        <input type="hidden" name="ByufegId" value="@x.ByufegId" />
                                        <button class="btn-dark btn-sm pull-right text-light" type="submit">Details</button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
            </table>
        </div>

    </div>
</div>

<div class="align-items-center">
    <div class="pagination p-1" style="display:inline-flex" page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn mr-3" page-class-selected="bg-primary text-white" page-class-normal="bg-dark">

    </div>
</div>

