@{
    ViewData["Title"] = "Burial Data";
}

@model ResultListViewModel

<div class="text-center">
    <h1>This will be all of the Data.</h1>
</div>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div id="sidebar" class="col-2">
            <partial name="ByufegFilter" model="ViewBag.Filter" />
        </div>
        
        <br />

        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mummy ID</th>
                        <th scope="col">Burial Location</th>
                        <th scope="col">Burial Depth</th>
                        <th scope="col">Burial Situation</th>
                        <th scope="col">Remain length</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Hair Color</th>
                        <th scope="col">Item taken</th>
                        <th scope="col">Has artifact</th>
                        <th scope="col">Head direction</th>
                        <th scope="col">Estimated Age</th>
                        <th scope="col">Estimated Living Height</th>
                        <th scope="col">Date found</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var x in Model.bodies)
                    {
                    <tr>
                        <th scope="row">@x.ByufegId</th>
                        <td>@x.Burial</td>
                        <td>@x.BurialSituation </td>
                        <td>@x.BurialDepth </td>
                        <td>@x.LengthOfRemains</td>
                        <td>@x.GenderBodyCol</td>
                        <td>@x.HairColor</td>
                        <td>@(x.HairTaken == "True" || x.ToothTaken == "True" || x.BoneTaken == "True" || x.TextileTaken == "True" || x.SoftTissueTaken == "True" ? "Yes" : "No") </td>
                        <td>@(x.ArtifactFound == "True" ? "Yes" : "No") </td>
                        <td>@x.HeadDirection</td>
                        <td>@x.EstimateAge</td>
                        <td>@x.EstimateLivingStature </td>
                        <td>@x.DateFound</td>
                        <td></td>
                        <td>
                            <!--Button to update quote, passes quoteId through hidden field-->
                            <form asp-action="ByufegDetails" method="post">
                                <input type="hidden" name="ByufegId" value="@x.ByufegId" />
                                <button class="btn-dark btn-sm pull-right text-light" type="submit">Details</button>
                            </form>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="align-items-center">
    <div class="pagination p-1" style="display:inline-flex" page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn mr-3" page-class-selected="bg-primary text-white" page-class-normal="bg-light">

    </div>
</div>

